Html{
    background-color: lightgoldenrodyellow;
    background-image: url("/static/roller_app/images/orc_warrior.png");
    background-repeat: no-repeat;
    background-size: 210px, 180px;
    background-position-x: 380px;
    background-position-y: 100px;
    border: solid;
    width:625px;
}


#imageToSwap {
    height: 175px;
    width: 350px;
}

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 340px;
    margin-left: -280px;
    margin-top: -100px;
    padding: 10px;
    border: 2px solid #FFF;
    background: url("/static/roller_app/images/hinterlands.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index:1002;
    overflow:visible;
}

#dieTable{
    background-color: palegoldenrod;
    border:solid;
    height:160px;
    background-size: 60px, 120px;
}


.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    position: absolute;
    margin-left: 440px;
    margin-top: 50px;
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

.bottom:after {
    border-color: #f8f8f8 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: -7px;
}

#characterLoad{


}















