<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="static/roller_app/style.css" type="text/css" rel="stylesheet"/>
    <script>


        function init() {
            document.getElementById("roll_reset").addEventListener("click", reset_roll);
            getCharacterList()

        }

        document.addEventListener("DOMContentLoaded", init);

        console.log("Head Script");



        document.addEventListener("DOMContentLoaded", function () {
            var x = document.getElementsByClassName("die");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].addEventListener("click", rollClick, true)
            }
        });


        window.document.onkeydown = function (e) {
            if (!e){
                e = event;
            }
            if (e.keyCode == 27){
                lightbox_close();
            }
        };

        function lightbox_open(){
            window.scrollTo(0,0);
            document.getElementById('light').style.display='block';
            document.getElementById('fade').style.display='block';
        }


        function lightbox_close(){
            document.getElementById('light').style.display='none';
            document.getElementById('fade').style.display='none';
        }







//        These functions are responsible for the dice roller functionality

        function roll_result(response) {
            if (response.target.readyState === 4) {
                var data = JSON.parse(response.target.responseText);
                var element = document.getElementById("roll_result_data");
                element.innerHTML += data.result + ", ";
            }
        }

        function reset_roll() {
            var element = document.getElementById("roll_result_data");
            element.innerHTML = "&nbsp;";
        }

        function roll(number) {
            request = new XMLHttpRequest();
            request.onreadystatechange = roll_result;
            request.open('GET', "/api_dice_roll/" + number + "/", true);
            request.send()
        }

        function rollClick(event) {
            var image = event.target;
            var button = image.parentElement;
            console.log(button);
            var id = button.getAttribute("id");
            console.log(id);
            var parts = id.split("_");
            var number = parts[1];
            console.log(number);
            roll(number)
        }

//      Responsible for the initiative roller

        function iniRoll() {
            var y = Math.floor(Math.random() * (13 - 2) + 2);
            var x = document.getElementById("iniOutput").innerHTML = "&nbsp" + y;
            if (y >= 10) {
                console.log("Whats Happening!");
            }
        }

//        Responsible for the Map Image Change

        function swapImage() {
            var image = document.getElementById("imageToSwap");
            var dropd = document.getElementById("map");
            image.src = dropd.value;
        }


        var GAME = {

            abilities: [
                {id: 1, name: "Agility"},
                {id: 2, name: "Smarts"},
                {id: 3, name: "Strength"},
                {id: 4, name: "Spirit"},
                {id: 5, name: "Vigor"}
            ],

            diceValue: [
                {id: 1, name: "d4", value: 4},
                {id: 2, name: "d6", value: 6},
                {id: 3, name: "d8", value: 8},
                {id: 4, name: "d10", value: 10},
                {id: 5, name: "d12", value: 12}
            ],

            defaultCharacter:{
                    name: "New Character",
                    id: 0,
                    "pairs": [
                        {ability: "1", diceValue: '1'},
                        {ability: "2", diceValue: '2'},
                        {ability: "3", diceValue: '3'},
                        {ability: "4", diceValue: '4'},
                        {ability: "5", diceValue: '5'}
                    ]
                },

            characters: [
                {
                    name: "",
                    id: 0,
                    "pairs": [
                        {ability: "", diceValue: ''},
                        {ability: "", diceValue: ''},
                        {ability: "", diceValue: ''},
                        {ability: "", diceValue: ''},
                        {ability: "", diceValue: ''}
                    ]
                }
            ]
        };




        function select(list, display_name, value_name, selected_value) {
            var s = document.createElement("select");
            for (var y = 0; y < list.length; y++) {
                var item = list[y];
                var o = document.createElement('option');
                o.innerHTML = item[display_name];
                o.setAttribute('value', item[value_name]);
                if (selected_value == item[value_name]) {
                    o.selected = true;
                }
                s.appendChild(o);
            }
            return s;
        }




        function getCharacterList(){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onload = characterListLoaded;
            xmlhttp.open("GET", "/api_newCharacter/", true);
            xmlhttp.send();
        }

        function characterListLoaded(e){
            GAME.characters = JSON.parse(e.target.responseText);
            GAME.characters.push(GAME.defaultCharacter);
            drawCharacterList();
        }

        function drawCharacterList(){
            console.log(GAME.characters);
            var listElement =  select(GAME.characters, "name", "id", 1);
            listElement.addEventListener("change", selectCharacter);
            document.getElementById("characterSelect").appendChild(listElement);
        }




        function new_character() {
            var xmlhttp = new XMLHttpRequest();
            var form_data = new FormData();
            form_data.append("newCharacter", document.getElementById("newCharacter").value);
            xmlhttp.open("POST", "/api_newCharacter/", true);
            xmlhttp.send(form_data);
        }


        function selectCharacter(event){
            var selectedCharacter = event.target.value;
            drawCharacter(selectedCharacter);
            console.log(event.target.value);
        }


        function getCharacterById(id) {
            for (var i = 0; i < GAME.characters.length; i++) {
                var selectedCharacter = GAME.characters[i];
                if (selectedCharacter.id == id) {
                    return selectedCharacter;
                }
            }
            return undefined;
        }


        function removeCharacter(){
            var removeEl = document.getElementById("characterLoad");
            removeEl.innerHTML = "";
        }



        function drawCharacter(id) {
            var characterElement = document.getElementById("characterLoad");
            var character = getCharacterById(id);
            var input = document.createElement('input');
            input.setAttribute('value', character.name);
            characterElement.setAttribute('data-character_id', character.id);
            input.addEventListener("change", detectCharacterChange);
            characterElement.appendChild(input);

            //loop through player ability/die pairs and call drawCharacterAbility once for each
            for (var i = 0; i < character.pairs.length; i++) {
                var pair = character.pairs[i];
                drawCharacterAbility(pair, i);
            }
            var button = document.createElement('button');
            button.innerHTML = "save";

            button.setAttribute("data-id", id);
            button.addEventListener("click", save_character);
            document.getElementById("characterLoad").appendChild(button);

            var remove_button = document.createElement('button');
            remove_button.innerHTML="remove character";
            document.getElementById("characterLoad").appendChild(remove_button);
            remove_button.addEventListener("click", removeCharacter);
        }


        function drawCharacterAbility(pair, i) {
            var list = GAME.abilities;
            var selectAbility = select(list, "name", "id", pair.ability);
            selectAbility.setAttribute("data-index", i);
            selectAbility.addEventListener("change", detectAbilityChange);
            document.getElementById("characterLoad").appendChild(selectAbility);

            var list = GAME.diceValue;
            var selectDieValue = select(list, "name", "id", pair.diceValue);
            selectDieValue.addEventListener("change", detectDiceValueChange);
            selectDieValue.setAttribute("data-index", i);
            document.getElementById("characterLoad").appendChild(selectDieValue);
        }


        function detectCharacterChange(event) {
            console.log(event.target);
            var id = event.target.parentElement.getAttribute("data-character_id");
            var character = getCharacterById(id);
            character.name = event.target.value;
        }

        function detectAbilityChange(event){
            console.log(event.target.parentElement);
            var id = event.target.parentElement.getAttribute("data-character_id");
            var index = event.target.getAttribute("data-index");
            var character = getCharacterById(id);
            console.log(index);
            console.log(character.pairs);
            character.pairs[index].ability = event.target.value;
            console.log(character.pairs);
        }

        function detectDiceValueChange(event){
            var id = event.target.parentElement.getAttribute("data-character_id");
            var index = event.target.getAttribute("data-index");
            var character = getCharacterById(id);
            character.pairs[index].diceValue = event.target.value;
        }


        function save_character(e) {
            var xmlhttp = new XMLHttpRequest();
            var form_data = new FormData();
            var id = e.target.getAttribute("data-id");
            var character = getCharacterById(id);
            form_data.append("character_name", character.name);
            form_data.append("id", character.id);
            for (var i = 0; i < character.pairs.length; i++) {
                var pair = character.pairs[i];
                form_data.append("ability-" + i, pair.ability);
                form_data.append("die_value-" + i, pair.diceValue);
            }
            xmlhttp.onload = character_saved;
            xmlhttp.open("POST", "/api_newCharacter/", true);
            xmlhttp.send(form_data);
            xmlhttp.addEventListener("change", detectCharacterChange);


            console.log(GAME);
        }

        function character_saved(event) {
            console.log(event.target.responseText)

        }












    </script>


</head>
<body>

<div id="characterSelect">

</div>

<div id="characterLoad">

</div>


<br>


<div id="initiativeButton">
    <button id="iniButton" value=roll(12) onclick="iniRoll()">Initiative:</button>
    <span id="iniOutput"></span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" style="width: 30px;"/>&nbsp;Target Number
</div>
<br>


<div id="skills">
    <input type="radio" name="skill" value="crime"/>Crime(spirit)<br>
    <input type="radio" name="skill" value="driving"/>Driving(agility)<br>
    <input type="radio" name="skill" value="fighting"/>Fighting(strength)<br>
    <input type="radio" name="skill" value="knowledge"/>Knowledge(smarts)<br>
    <input type="radio" name="skill" value="social"/>Social(vigor)<br>
</div>
<br>

<div id="Content2">
    <img id="imageToSwap"/>&emsp;Map Selection:
    <select id="map" onchange="swapImage()">


        <option value="">Choose a Map</option>
        <option class="thumb" id="map1" value="/static/roller_app/images/hinterlands.jpg">Hinterlands</option>
        <option class="thumb" id="map2" value="/static/roller_app/images/sandpoint.jpg">Sandpoint</option>
        <option class="thumb" id="map3" value="/static/roller_app/images/lair.jpg">Lair</option>
        <option class="thumb" id="map4" value="/static/roller_app/images/Hallway_of_time.jpg">Thime</option>

    </select>
</div>

<a href="#" onclick="lightbox_open();">Open Map</a>
<div id="light"></div>
<div id="fade" onClick="lightbox_close();"></div>
<br>




</body>
<div id="Footer">
    <table id="dieTable">
        <tr>
            <td><input type="reset" value="Reset Roll" id="roll_reset"></td>
        </tr>
        <tr>

            <td>
                <button class="die" id="d_4"><img src="/static/roller_app/images/d4.jpg" width="70" height="60"/>d4
                </button>
            </td>
            <td>
                <button class="die" id="d_6"><img src="/static/roller_app/images/d6.jpg" width="70" height="60"/>d6
                </button>
            </td>
            <td>
                <button class="die" id="d_8"><img src="/static/roller_app/images/d8.jpeg" width="70" height="60"/>d8
                </button>
            </td>
            <td>
                <button class="die" id="d_10"><img src="/static/roller_app/images/d10.png" width="70" height="60"/>d10
                </button>
            </td>
            <td>
                <button class="die" id="d_12"><img src="/static/roller_app/images/d12.jpeg" width="70" height="60"/>d12
                </button>
            </td>
            <td>
                <button class="die" id="d_20"><img src="/static/roller_app/images/d20.jpg" width="70" height="60"/>d20
                </button>
            </td>
        </tr>
        <tfoot>
        <tr>
            <td colspan="6">
                <div id="rollResultList">Roll Result:&nbsp;<span id="roll_result_data"></span></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div>
</div>
</html>