<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="static/roller_app/style.css" type="text/css" rel="stylesheet"/>
    <script>
        function roll_result(response) {
            if (response.target.readyState === 4) {
//                console.log(response.target.responseText);
                var data = JSON.parse(response.target.responseText);
                var element=document.getElementById("rollResultList");
                element.innerHTML+=data.result + ", ";
            }
        }

        console.log("Head Script");
        function roll(number) {
            request = new XMLHttpRequest();
            request.onreadystatechange = roll_result;
            request.open('GET', "/api_dice_roll/" + number + "/", true);
            request.send()
        }

        function rollClick(event){
            var image=event.target;
            var button=image.parentElement;
            console.log(button);
            var id=button.getAttribute("id");
            console.log(id);
            var parts=id.split("_");
            var number=parts[1];
            console.log(number);
            roll(number)


        }
        document.addEventListener("DOMContentLoaded", function () {
            var x = document.getElementsByClassName("die");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].addEventListener("click", rollClick, true)
            }
        })


    </script>


</head>
<body>

    <div id="Header">This space is for character import window. It will contain a block for a character record.
    It will also contain two drop down menus; one to adjust the map in map-view and one to select a new character.</div>
    <div id="Content1">Game Log window, it will reflect changes to the character during combat.</div>
    <div id="Content2">Map-View</div>

<div id="Footer"></div>

<table>
    <tr>
        <td><input type="reset" value="Reset Roll" onclick="window.location.reload()"></td>
    </tr>
    <tr>

        <td><button class="die" id="d_4"><img src="/static/roller_app/images/d4.jpg" width="70" height="60"/>d4</button></td>
        <td><button class="die" id="d_6"><img src="/static/roller_app/images/d6.jpg" width="70" height="60"/>d6</button></td>
        <td><button class="die" id="d_8"><img src="/static/roller_app/images/d8.jpeg" width="70" height="60"/>d8</button></td>
        <td><button class="die" id="d_10"><img src="/static/roller_app/images/d10.png" width="70" height="60"/>d10</button></td>
        <td><button class="die" id="d_12"><img src="/static/roller_app/images/d12.jpeg" width="70" height="60"/>d12</button></td>
        <td><button class="die" id="d_20"><img src="/static/roller_app/images/d20.jpg" width="70" height="60"/>d20</button></td>
</tr>
    <tfoot>
    <tr>
        <td colspan="6"><div id="rollResultList">Roll Result:</div></td>
    </tr>
    </tfoot>
</table>



</body>
</html>